@font-face {
  font-family: arial;
  src: url(/fonts/Arial Regular.ttf);
}

body {
  color: #000000;
  background: url('img/bg-texture.jpg') no-repeat center center fixed;
  font-family: arial;
}



p { width: 100%; display: block; font-size: 17px;}

a {
  text-decoration: none;
  color: #528B8B;
}

a:hover {
  color: black;
}

.container{
  width: 1000px; 
  margin: auto;
}

.divider {
  display: inline-block;
  vertical-align: top;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 1px;
  background-color: #999;
}

#profile {
    float: left;
    margin-right: 10px;
    width: 160px;
    margin-top: 20px;
  }

#lastup {
  width: 485px;
  float: left;
  display: block;
  text-align: left;
  margin: 12px 0px;
}

#btns {
  width: 485px;
  float: right;
  display: block;
  text-align: right;  
  margin-top: 6px;
}

#btn {
  opacity: 0.5;
}

#btn:hover { 
  opacity: 1;
}

.on, #navbutton:hover
{
  background-color: #F0F0F0;
  border-radius: 10px;
}

#navbuttons {
  width: 870px;
  margin: auto;
}

#navbutton {
  float: left;
  width: 100px;
  margin-bottom: 5px;
  margin-left: 37px;
  margin-right: 37px;
  text-align: center;
  color: #000000;
  font-size: 20px;
}

#footer {
  float: left;
  text-align: left;
  background-color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 30px;
  width: 970px;
}

#header {
  float: left;
  text-align: left;
  background-color: #FFFFFF;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  margin-top: 30px;
  width: 970px;
  }

  /* mobile */
@media (max-width:1000px) {
  .container{
  width: 90%; 
  margin: auto;
}
  #navbuttons {
  width: 100%;
  margin: auto;
}

#navbutton {
  float: left;
  display: block;
  width: 100%;
  height: 55px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  color: #000000;
}

#header {
  width: calc(100% - 30px);
}

#footer {
  width: 100%;
  padding: 0px;
}

#lastup {
  width: 100%;
  margin: auto;
  text-align: center;
}

#btns {
  width: 100%; 
  margin: auto;
  text-align: center;
}

#btn {
  opacity: 1;
}

 }

 @media (max-width:387px) {
  #profile {
    display: none;
  }
 }