body {
  color: #000000;
  background: url('img/bg-texture.jpg') no-repeat center center fixed; 
}



h4 {
  margin: 12px 0px;
}

p {
  font-size: 16px;
  margin: 12px 0px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: black;
}

.container{
  width: 1000px; 
  margin: auto;
}

.divider {
  float: left;
  display: block;
  width: 90%;
  margin-left: 5%;
  height: 1px;
  background-color: #999;
}

#lastup {
  width: 485px;
  float: left;
  display: block;
  text-align: left;
}

#btns {
  width: 485px;
  float: right;
  display: block;
  text-align: right;  
  margin-top: 6px;
}

#btn {
  opacity: 0.5;
}

#btn:hover { 
  opacity: 1;
}

.on, #navbutton:hover
{
  color: #FFCC00;
  text-decoration: underline;
}

#navbutton {
  font-family: 'Lato', sans-serif;
  float: right;
  display: block;
  width: 100px;
  height: 55px;
  margin: 0px;
  text-align: center;
  color: #000000;
}

#signature {
  color: #000000;
  float: left;
  margin-right: 197px;
  font-family: 'Lato', serif;
  font-style: italic;
  font-size: 40px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 273px;
}


#body {
  float: left;
  display: block;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #FFFFFF;
  margin-bottom: 5px;
}

#footer {
  float: left;
  display: block;
  text-align: left;
  background-color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
}

#header {
  float: left;
  display: block;
  text-align: left;
  background-color: #FFFFFF;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  margin-top: 30px;
  }